* {
  margin: 0;
  padding: 0;
}

.container-issuebooks {
  padding: 50px;
  width: 100%;
}

.header-of-issuedbooks {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #09174a;
}

.table-responsive th {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
}

.table-responsive td {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #09174a;
}
.issuedbook-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 129px;
  height: 40px;
  left: 1244px;
  top: 114px;

  background: #ed7966 !important;
  border-radius: 5px;
  border: none !important;
}

.srch-cls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* CSS for Modals */

.modal-buttons2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;

  width: 119px;
  height: 40px;
  left: 906px;
  top: 661px;

  background: #ed7966 !important;
  border: none !important;
  border-radius: 5px;
}

.modal-buttons1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;

  width: 119px;
  height: 40px;
  left: 906px;
  top: 661px;
  border-radius: 5px;
}

/* CSS for Return Modals */

