* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-main-division {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
}

h3,
p {
  color: #09174a;
}
h1 {
  color: #ed7966;
}

.welcome {
  color: #646464;
}

.login-elements {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 10px;
}

.loginpage-logo {
  display: flex;
  position: absolute;
  top: 60px;
  left: 200px;
}

input {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  border: 1px solid #b7b3b3;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 10px;
}

button {
  width: 406px;
  height: 39px;

  background: #ed7966;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.link-div {
  border: solid 1px #b7b3b3;

  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;

}

.adm {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #09174a;
}

.student {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #09174a;
}
.labels-of-loginpage {
  color: red;
}

.register-text{
  padding-left: 90px;
  padding-top: 20px;
}

.registerLink{
  text-decoration: none
}