* {
  margin: 0;
  padding: 0;
}
.Container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
}
.navbars {
  background: #ed7966;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #09174a;
}

.body-div {
  padding: 30px;
  background: #F5F5F5;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-feild {
  padding: 5px 150px;
}
.issue-book-btn {
  width: 129px;
  height: 40px;
  left: 1244px;
  top: 114px;

  background: #ed7966;
  border-radius: 5px;
  border: none;
}
